<div class="row">
  <div>
    <form action="//allaboardalliance.us9.list-manage.com/subscribe/post?u=9b95903b7918c7b171cd89ba1&amp;id=8e249e7331" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
      <div class="form-group">
        <label for="mce-EMAIL" class="sr-only">Email Address</label>
        <input type="email" value="" name="EMAIL" class="form-control input-lg" placeholder="Your Email Address" id="mce-EMAIL">
      </div>
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg">Subscribe</button>
    </form>
  </div>
</div>
