<div class="row">
	<div class="span12">
		<span class="lead"><strong>About Us</strong></span>
	</div>
</div>

<div class="row">
	<p>&nbsp;</p>
</div>

<div class="row">
	<div class="span8">
		<p class="lead">Background</p>
		<p>All A-Board Alliance was created in April 2014 when six members of various associate boards met at Open Books on Chicago's Near North Side. They shared a desire to create an organization to facilitate communication, coordination, and knowledge sharing among the non-governing boards of Chicago's nonprofits (i.e. associate boards, auxiliary boards, junior boards etc.).</p>
		<p>The founding members envisioned that this group would create a library of resources that could be used by all members. Such resources would consist of a group calendar that includes all upcoming events from the various members’ associate boards, list of vendors/event venues with notes from members who have used the services before (e.g. recommendations, contacts, suggestions, etc.), as well as a comprehensive contact list of all Chicago's associate boards.</p>
	</div>
</div>

<div class="row">
	<div class="span8">
		<p class="lead">Structure</p>
		<p>All A-Board Alliance will meet quarterly for approximately two hours. Each quarter a different nonprofit organization will host the meeting. Topics of discussion will be selected by the members. Experts may be brought in to present on topics at the meetings, however primary focus will be to allow members to engage in group discussion to help overcome boards’ challenges, brainstorm new strategies and share resources. The group will be led by a volunteer steering committee who will help with administrative functions such as overseeing available resources, securing meeting space, selecting meeting topic, and communicating with members.
		</p>
	</div>
</div>

<div class="row">
	<div class="span8">
		<p class="lead">Membership</p>
		<p>Membership is open to all current members of Associate Boards. Associate boards are considered to be any non-governing board whose primary focus is to support a nonprofit organization through philanthropic means. Membership is free.</p>
	</div>
</div>