<div class="center hero-unit">
  <h1>Welcome to the TBD</h1>

  <h2>
    Get Involved. See what goes in around Chicago's Associate Boards.
  </h2>

  <%= link_to "Write a Review!", new_review_path, class: "btn btn-large btn-primary" %>
</div>
<div>
	<p>Previous Reviews</p>
	<% @reviews.each do |review| %>
		<p><%= review.board.name %><br />
			<strong><%= review.title %></strong>
			</p>
<% end %>
</div>