<div class="container">
	<div class="row">
		<div class="span7 mycontent-left">
			<div class="row">
				<div class="span7 content-header">
					<span class="lead"><strong>Get Involved with an Associate Board</strong></span>
				</div>
			</div>
			
			<div class="row">
				<div class="span7">
					<p>Junior Board, Young Professionals Board, Associate Board, Auxiliary Board....the names may very, but they all have a similar purpose. These groups exist to provide support to nonprofit organizations. Most often this is done through philanthropic support (hosting fundraisers) and through advocacy (serving as ambassadors for the organization's mission). As these types of boards have grown in popularity, so too has the opportunity for young professionals to get involved.<p>
					<p> Thinking of joining a board? Here are some top reasons why it may be right for you:
						<ul>
						<li>Opportunity to develop and practice skills you don't get to use at work (e.g- event planning, finance, volunteer management).</li>
						<li>Unique opportunity to serve the nonprofit community and also build leadership skills.</li>
						<li>A chance to grow your network in meaningful way- you get to know and work alongside other professionals outside of your own field.
						<li>Board membership at the junior level can prepare you to serve on a Board of Directors in the future.</li>
						</ul>
					</p>
					<p>See <%= link_to 'our directory', boards_path %> for descriptions of local board opportunities.</p>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="row">
				<%= image_tag 'AAA_Logo.png' %>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>