<% provide(:title, "Edit announcement") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
    <div class="row">
			<div class="col-lg-12">
        <h3 class="section-heading">Edit announcement for <%= @board.name %> </h3>
      </div>
    </div>

		<div class="row text-muted">
			<div class="col-lg-12">
			     <p>Use the form below to edit this announcement. </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
					<%= render "form" %>
				</div>
		</div>
	</div>
</section>
