<% provide(:title, "Add a post:") %>
<%= render 'shared/header' %>

<section>
	<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="section-heading">Add a new post</h3>
      </div>
    </div>

		<div class="row text-muted">
			<div class="col-lg-12">
			     <p>Use the form below to add a new post to the blog & resources page.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<% if site_admin_logged_in? %>
					<%= render 'form'%>
				<% else %>
					<p>Sorry, only the All A-Board Alliance administrators can add a board. This is how we can maintain a carefully curated list of boards.<br /> If you would like to suggest a board to add, please <%= link_to "tell us about it", boards_suggest_path %>.</p>
				<% end %>
			</div>
		</div>

	</div>
</section>
