<% provide(:title, 'Edit information for ' + @parent_organization.name + ':') %>

<div class="row">
	<div class="span8 mycontent-left">
		<div class="row">
			<div class="span8 content-header">
				<span class="lead"><strong>Update Organization details</strong></span>
			</div>
		</div>
		
		<div class="row">
			<div class="span7 clear-separator">
			</div>
		</div>
		
		<div class="row">
			<div class="span7">
				<%= render 'form'%>
			</div>
		</div>
	</div>
	<div class="span3">
		<div class="row">
			<%= image_tag 'AAA_Logo.png' %>
			<p>&nbsp;</p>
		</div>
	</div>
</div>