<div class="row">
  <div class="span12">
    <span class="lead"><strong>Users Directory</strong></span>
  </div>
</div>
<div class="row">
  <div class="span9">
    <p>You can view this page because you are an administrator.</p>
  </div>
</div>


<div class="row">
  <div class="span9">
    <% if !@users.blank? %>		
      <table class="table table-hover">		
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Boards Owned</th>
            <th>Administrator Status</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.get_name, user_path(user) %></td>
              <td><%= user.email %></td>
              <td><%= user.boards.count %></td>
              <td>
                <% if user.admin %>
                  <p>Admin</p>
                <% else %>
                  <p>Not Admin</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There aren't any users.</p>
    <% end %>
  </div>
</div>

<div class="row">	
  <div class="span12">
    <%= will_paginate %>
  </div>
</div>
