<% provide(:nav_title2, "Boards") %>
<% provide(:nav_link2, boards_path) %>
<% provide(:nav_title3, "Events") %>
<% provide(:nav_link3, events_path) %>
<% provide(:nav_title4, "Resources") %>
<% provide(:nav_link4, articles_path) %>


<!-- Header -->
<header style="background-color: #000000;">
    <div class="container">
			<section>
			</section>
		</div>
</header>
