<p><%= link_to vendor.name, vendor_path(vendor) %> <%= link_to 'Edit', edit_vendor_path(vendor) %> <%= link_to 'Delete', vendor_path(vendor), method: :delete, data: { confirm: "Are you should you want to delete this vendor?" } %></p>
