<div class="row">
	<div class="span12">
		<span class="lead"><strong>Vendors Directory</strong></span>
	</div>
</div>
<div class="row">
  <div class="span9">
    <%= render @vendors %>
    <%= link_to 'Add a vendor', new_vendor_path %>
  </div>
</div>

<div class="row">	
	<div class="span12">
		<%= will_paginate %>
	</div>
</div>
