<div class="row">
	<div class="span12">
		<span class="lead">Add Vendor to directory.</span>
	</div>
</div>

<div class="row">
	<div class="span8 separator"></div>
</div>

<div class="row">
	<div class="span6">
		<%= render 'form'%>
	</div>
</div>
