<div class="row">
	<div class="span10">		
		<span class="lead">Claim your board profile.</span>
		<p>Receive anonymous feedback, update your board info, and stay on top of community events.</p>
		<%= button_to "Yes, make the owner of this profile", board_assign_path(@board), :class => 'btn btn-large btn-primary' %>
	</div>
</div>