<% provide(:title, "Edit details for " + @board.name + ": ") %>
<%= render 'shared/header' %>

<script>
		$(document).ready(function() { $("#board_parent_organization_id").select2(); });
</script>

<section>
	<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="section-heading">Update Board details</h3>
      </div>
    </div>

		<div class="row text-muted">
			<div class="col-lg-12">
			     <p>Use the form below to update board details. </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8">
				<% if (current_user && @board.board_admin?(current_user)) || site_admin_logged_in? %>
					<%= render 'form'%>
				<% else %>
					<p>Sorry, only the board owner or an All A-Board Alliance administrator can edit board details. <br />This is how we can maintain a carefully curated list of boards. If you would like to propose changes to this board, please reach out to the board owner, or a member of the All Aboard alliance team.</p>
				<% end %>
			</div>
		</div>

	</div>
</section>
