<div class="row">
	<div class="span7">	
		<div class="content-header">
			<span class="lead"><strong><%= @board.name %></strong></span>
		</div>
		<div class="row">
			<div class="span7">
				<p class="section-title">Remove claim and ownership of this board profile.</p>
				
				<p> <strong>What does this mean?</strong></p>
				<p>You will no longer be the owner of this board profile. Therefore, you will not be able to update this board's information, receive anonymous feedback from community, and post community events.</p>
			</div>
		</div>
		<div class="row">
			<div class="span7">
				<p class="section-title"></p>
				<%= button_to "Yes, remove me as the owner of this board", board_unassign_path(@board.slug), :class => 'btn btn-primary' %>
			</div>
		</div>