@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #5a5a5a;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 14px;
  #line-height: 1.7em;
}

label{
	font-weight:bold;
	margin-top: 10px;
	#margin-bottom: 10px;
	display: block;
	padding-left: 15px;
	text-indent: -15px;	
}

input[type="checkbox"]
{
	margin-top: 10px;	
	margin-bottom: 10px;		
	margin-right: 5px;		
	vertical-align:middle;
	height: 15px;
	#width: 15px;
}

/* header */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }


/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .logo {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  color: #fff;
  text-transform: uppercase;
  float: left;
}

.navbar .logo:hover{
  color: #fff;
  text-decoration: none;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
	padding: 15px 20px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px;
  margin-top: -60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 600px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1{
  color: #eaeaea;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);	
}

.carousel-caption .lead {
  margin: 0 0 10px 0;
  line-height: 1.25;
  color: #eaeaea;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
  margin-top: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.separator{
  border-top: 1px solid #eaeaea;
  margin-bottom: 10px;
  margin-top: 10px;
}

.row-separator{
  border-top: 2px solid #eaeaea;
  margin-bottom: 20px;
  margin-top: 50px;
}

.clear-separator{
  margin-bottom: 25px;
}


.mycontent-left {
  border-right: 1px solid #eaeaea;
  margin-right: 20px;
  padding-right: 10px;
}

.mycontent-left-no-border {
  margin-right: 20px;
}

.content-header {
  margin-bottom: 50px;
}

.section-title {
  border-bottom: 2px solid #eaeaea;	
  margin-right:10px;
  font-weight: bold;
}

.section-content {
  margin-right:10px;
}

.star {
	margin-left:5px;
}

.event-block {
  #border-bottom: 1px solid #eaeaea;	
  padding: 10px;
}

.hidden { display: none; }

.focus-box {
	border:solid thin #eaeaea;
	background:#FFF;
	border-radius: 5px;
	box-shadow: 0px 1px 1px 1px #eaeaea;
	#height: 360px;
	padding: 10px;
}

.focus-box h1{
	font-size:16px;
	font-weight:bold;
	#color: #005580;
	text-align:center;
	letter-spacing:normal;
	margin-bottom: 10px;
}


/* Date Icon CSS thanks to Chris Spooner
   http://line25.com/tutorials/how-to-create-a-cool-blog-post-date-icon-with-css
*/

.date {
	width: 60px; 
	height: 60px;
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	margin: 10px 0 0 0;
}

.date p {
	font-size: 30px;
	text-align: center; 
	color: #9e9e9e; 
	line-height: 1.20em;
}

.date p span {
	background: #d10000; 
	background: linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
	font-size: 20px; 
	font-weight: bold; 
	color: #fff; 
	text-transform: uppercase; 	
	display: block;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

.date p {
	font-size: 30px;
	text-align: center; 
	color: #9e9e9e; 
	line-height: 1.20em;
}

.img-circle {
	margin:5px 10px 5px -5px;
	vertical-align: -100px;
	text-align:left;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }

	.navbar-inner {
    	border-radius: 0;
	    margin: -20px 0;
	}

	.carousel .item {
		height: 500px;
	}
	
	.carousel img {
		width: auto;
		height: 500px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px)   {

    .container,.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

}

/* Landscape phones and down 
@media (max-width: 480px) {

}
*/