<div class="row">
	<div class="span12">
		<span class="lead">Add a new category.</span>
	</div>
</div>

<div class="row">
	<div class="span8 separator"></div>
</div>

<div class="row">
	<div class="span9">
		<%= render "form" %>
	</div>
</div>