<div class="row">
	<div class="span12">
		<span class="lead">Edit an <strong>anonymous</strong> review</span>
	</div>
</div>

<div class="row">
	<div class="span8">The All A-Board Alliance has associate board reviews shared by real associate board members. Leaving a review only only takes a minute and your identity will never be shared.
	</div>
</div>

<div class="row">
	<div class="span8 separator"></div>
</div>

<div class="row">
	<div class="span6">
		<%= render 'form' %>
	</div>
</div>

