<div class="span12">
	<footer class="footer">
		<nav class="pull-left">
			<ul>
				<li><%= link_to 'About Us', about_path %></li>
				<li><%= link_to 'Contact Us', '#' %></li>
			</ul>
		</nav>
		<nav class="pull-right">
			<ul>
   				<li>#</li>
  			</ul>
		</span>
	</footer>
</div>
<div class="span12">
	<small>All comments and opinions expressed on this page are the comments and opinions of the authors themselves and do not reflect the opinion of the All-Aboard Alliance or its officers.</small>
</div>