<div class="span12">
	<footer class="footer">
		<small><%= link_to 'About Us', about_path %></small>
		<span class="pull-right">
			<small>
   				An app by <%= link_to "Adeyemi", "http://about.me/raymondking", :target => "_blank" %>
  			</small>
		</span>
	</footer>
</div>