<div class="container">
	<footer class="footer">
			<nav class="pull-left">
				<ul>
					<li><%= link_to (image_tag 'https://g.twimg.com/Twitter_logo_blue.png', size: "20x20", alt: "Twitter Logo"), 'https://twitter.com/ABoardAlliance', :target => "_blank" %></li>
					<li>&nbsp;</li>
					<li><%= link_to 'About', about_path %></li>
					<li>&nbsp;</li>
					<li><%= link_to 'Contact', contact_path %></li>
				</ul>
				
			</nav>
			<nav class="pull-right">
				<ul>
					
				</ul>
	</footer>
	<div class="row">
		<div class="span12">
			<p class='text-center'><small>All comments and opinions expressed on this page are of the authors themselves and do not reflect the opinion of the All-Aboard Alliance or its steering committee.</small></p>
		</div>
	<div>
</div>