<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
    	<div class="container">
        	<%= link_to "[TBD]", root_path, id: "logo" %>
        	<nav>
          		<ul class="nav pull-right">
              		<li><%= link_to "Openings",    '#' %></li>
              		<li><%= link_to "Boards",    '#' %></li>
            	</ul>
			</nav>
  		</div>
	</div>
</header>