<aside>
  <div class="container">
      <div class="row">
        <p>&nbsp;</p>
      </div>
  </div>
</aside>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; All A-Board Alliance 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                      <%= link_to "", "https://twitter.com/ABoardAlliance", class:"fa fa-twitter", target: "_blank" %>
                    </li>
                    <li>
                      <%= link_to "", "https://www.facebook.com/AllABoardAlliance", class:"fa fa-facebook", target: "_blank" %>
                    </li>
                    <li>
                      <%= link_to "", "https://www.linkedin.com/grp/home?gid=6742013", class:"fa fa-linkedin", target: "_blank" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
